/*

Darko Bunic
http://www.redips.net/
Jul, 2009.

*/

body{
	font-family: arial;
}


/* add bottom margin between tables */
#table1{
	background-color: #;
	position:absolute;
	left: 20px;
	margin-bottom: 20px;
}
#table2{
	position:absolute;
	left: 240px;
	margin-bottom: 10px;
}
#table3{
	position:absolute;
	left: 240px;
	margin-bottom: 10px;
}



/* drag container (contains two tables) */
#drag{
	margin: auto;
	width: 530px;
}


/* drag objects (DIV inside table cells) */
.drag{
	position: relative;
	cursor: move;
	margin: auto;
	background-color: white;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	width: 100px;
	z-index:1000;
}


/* drag objects border for the first table */
.t1 {border: 2px solid #499B33;}
/* drag object border for the second table */
.t2 {border: 2px solid #2D4B7A;}
/* cloned objects - third table */
.t3 {border: 2px solid #BF6A30;}
/* forbidden cells */
.forbid{color: white; background-color: #9B9EA2;}
/* trash cell */
.trash{color: white; background-color: #2D4B7A;}

/* tables */
div#drag table{
	background-color: #e0e0e0;
	border-collapse: collapse;
}


/* needed for IE6 because cursor "move" shown on radio button and checkbox ?! */
div#drag input{
	cursor: auto;
}


/* table cells */
div#drag td{
	height: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}


/* "Click" button */
.button{
	background-color: #6A93D4;
	color: white; 
	border: 2px solid #052D6E;
	width: 40px;
	padding: 0px;
}


/* toggle checkboxes at the bottom */
.checkbox{
	margin-left: 13px;
	margin-right: 14px;
	width:13px; /* needed for IE ?! */
}


/* button message */
.message_line{
	padding-left: 10px;
	margin-bottom: 3px;
	font-size: 10pt;
	color: #888;
}

/* append here cloned object before land to some table cell */
#obj_new{
	height: 23px;
	width: 10px;
}